@page "/index"

<h1>Тестовый ресурс для NB-IoT камер </h1>
<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

    <span>
        Испльзуются технологии .NET CORE
    </span>
    <span class="text-nowrap">
       
        @*<a href="https://cloud.mts.by/"><img src="css/img/logo_cloud_mts.png" width="128"></a>*@
    </span>
</div>
<p>
    <strong>Конфигурация сервера</strong>
</p>
<p>
    Raspberry PI 3
</p>